
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* share styles */
.text-logo
{ color:#4E47FF ;}
.primary-btn{
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    color:#FFFFFF ;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.primary-btn:focus{
   background-color: #4d47ff92;
   color: #0000009b;

}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}
.nav-logo{
    font-size:34px;
    font-weight:900;
}



/* banner */
header{
    background-image:url(../Assets/Hero-bg.png);
text-align: center;
}
.banner{
   padding: 160px; 
}
.banner .h4{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
/* action-section */
.action-section-container{
    display: flex;
    justify-content: space-between;
    margin: 160px 200px;
}
.action-section-content 
{
    max-width: 520px;
    margin-top: 50px;
}
.action-section-content .title{
    font-weight: bold;
    font-size: 42px;
    margin: 23px;
}
.action-section-content .subtitle{
    color: #00000050;
    font-size:24px ;
    margin: 23px;
}
.action-section-content .primary-btn{
    margin-left: 20px;
}
.action-section-img img{
    border-radius:48px ;
}
/* productive-users-section */
.productive-users-section{
    background-color: #1005eb10;
    margin: 160px 200px;
    padding: 50px 80px;
    border-radius:24px;
    text-align: center;
}
.productive-users-section-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.productive-users-section-container
{
    display: flex;
    justify-content: space-between;
    gap:158px ;
}
.pro-h2
{  color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0;
}
.pro-p{
    color: #00000050;
    font-size: 20px;
}
/* feedback */
.feedback{
     margin:0 200px; 
}
.feedback-content{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
 text-align: center;
}
#feedback-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }
/* review */
.review{
    padding: 24px;
    background-color: #ffffff92;
    border: 2px solid rgba(0, 0, 0, 0.032);
    border-radius: 14px;
    
}
.star-container{
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
}
.star-title{
    font-size:30px ;
    font-weight: 500;
    margin-bottom: 8px;
}
.star-subtitle{
    font-size: 20px;
    color: #0000009b;
    margin-bottom: 24px;
}
.review-container{
    display: flex;
}
.reviewer-pic img{
    border-radius: 50%;
    margin-right:8px ;
}
.reviewer-name h4,p{
    margin: 0;
}.reviewer-name p{
    color: #0000009b;
}
 /* webflow */
 .webflow-container{
    align-items: center;
    text-align: center;
    background-color: #4E47FF10;
    padding:71px 150px ;
    margin: 100px 200px;
     border-radius: 16px;
 }
 .webflow-content{
    margin-bottom: 20px;
 }
 .webflow-content h3{
    font-size:50px ;
    font-weight: bold ;
    margin-bottom: 20px;
 }
 .webflow-content p{
      font-size: 20px;
      color: #0e0e0f60;
      margin-bottom: 20px;
 }
 .wbflow-img img{
    border-radius: 48px;
 }
/* touch-section */
.touch-title{
    font-size: 92px;
    font-weight: bold;
    margin-top: 70px;
   
}


.touch-container{
    padding: 71px 20px ;
    display: flex;
    gap: 100px;   
    background-color: #4d47ff14;
    border-radius: 16px;
    margin: 100px 200px;
   
}
.touch-title{
    width: 50%;
}
form 
{width: 38%;
}
form input[ type="email"],input[ type="text"],textarea
{
    border-radius: 5px;
    padding:10px 20px ;
    display: block;
    width: 100%;
    margin-bottom: 19px;
    border: none;
}
/* footer */
footer{
    padding: 30px;
    text-align: center;
    background-color:#4E47FF10;
}
footer h2{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 8px;
}
footer p{
    color: #8987A1;
    margin-bottom: 20px;
}
footer ul {
    display: flex;
    justify-content: center;
    gap:20px ;
}
footer ul li {
    list-style: none;
}
footer li a{
    text-decoration: none;
   color: #8987A1;
}
